@media (min-width: 1025px) {
body {
    margin: 0 auto;
    width: 0 auto;
    font-family: 'Comfortaa', cursive;
}
header {
    background-color: #242425;
    border-bottom: 1px solid #505050;
    height: 50px;
}


/* Ссылка. */
a {
    text-decoration : none;
}
a:visited {
    color : rgb(90, 154, 184);
}
a:hover {
    color: orange;
}


/* Лого. */
#YanyHubLogo {
    color: honeydew;
    position: absolute;
    left: 70px;
    top: -5px;
}


/* Боковое меню. */
aside {
    background-color: #fbfbfb;
    border-right: 1px solid #e7e7e7;
    width: 50px;
    height: 90vh;
    float: left;
}


/* Меню задания, архив. */
.homework {
    border-bottom: 1px solid #e7e7e7;
    cursor: pointer;
}
.box {
    display: none;
    width: 100px;
    height: 25px;
    background-color: #fbfbfb;
    color: #444;
    padding: 10px;  
  }
.homework:hover .box {
    display:block;
    position:absolute;  
    z-index:3;
    top: 51px;
    left: 50px;
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
  }
.arxiv {
    border-bottom: 1px solid #e7e7e7;
    cursor: pointer;
}
.arxiv:hover .box  {
    display:block;
    position:absolute;  
    z-index:3;
    top: 96px;
    left: 50px;
    border-top: 1px solid #e7e7e7;;
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
  }


/* Контент. */
.Content_1 {
    position:absolute;  
    z-index:2;
    top: 70px;
    left: 80px;
}
.date {
    padding: 5px;
    margin-bottom: 1em;
    font-size: 0.9em;
    overflow: hidden;
}
h2 {
    margin: -10px !important;
}
.Block-orange{
    border-bottom: 5px solid #da5e24;
    border-radius: 5px;
    width: 280px;
    padding: 0 10px 0 30px;
}
.Block-orange p, .Block-green p, .Block-blue p, .Block-yellow p, .Block-red p{
    font-size: 20px;
    margin: 10px 0 20px 0;
}
time {
    position:absolute;  
    z-index:2;
    top: 25px;
}
.Content_2 {
    position:absolute;  
    z-index:2;
    top: 70px;
    left: 500px;
}
.Block-green{
    border-bottom: 5px solid #3bac2c;
    border-radius: 5px;
    width: 280px;
    padding: 0 10px 0 30px;
}
.Content_3 {
    display: none; /* Блок отключен*/
    position:absolute;  
    z-index:2;
    top: 70px;
    left: 900px;
}
.Block-blue{
    border-bottom: 5px solid #297bc9;
    border-radius: 5px;
    width: 280px;
    padding: 0 10px 0 30px;
}
.Content_4 {
    display: none; /* Блок отключен*/
    position:absolute;  
    z-index:2;
    top: 320px;
    left: 80px;
}
.Block-yellow{
    border-bottom: 5px solid #e2e61c;
    border-radius: 5px;
    width: 280px;
    padding: 0 10px 0 30px;
}
.Content_5 {
    display: none; /* Блок отключен*/
    position:absolute;  
    z-index:2;
    top: 320px;
    left: 500px;
}
.Block-red{
    border-bottom: 5px solid #d61132;
    border-radius: 5px;
    width: 280px;
    padding: 0 10px 0 30px;
}

/* ДНО САЙТА. */
footer {
    clear: both;
    height: 4vh;
    padding: 18px 0 0 15px;
    background-color: #242425;
    color: white;
    font-size: 0.8em;
}
}

/* Телефон версия. */
@media (max-width: 1024px) {
body {
    margin: 0 auto;
    width: 0 auto;
    font-family: 'Comfortaa', cursive;
}
header {
    background-color: #242425;
    border-bottom: 1px solid #505050;
    height: 100px;
}
    
  
/* Ссылка. */
a {
    text-decoration : none;
}
a:visited {
    color : rgb(90, 154, 184);
}
a:hover {
    color: orange;
}


/* Лого. */
#YanyHubLogo {
    color: honeydew;
    position: absolute;
    left: 150px;
    top: -5px;
    font-size: 30px;
}
header img {
    width: 160px;
}
    
    
/* Боковое меню. */
aside {
    background-color: #fbfbfb;
    border-right: 1px solid #e7e7e7;
    width: 100px;
    height: 1800px;
    float: left;
}
aside>div img{
    width: 95px;
}    


/* Меню задания, архив. */
.homework {
    border-bottom: 1px solid #e7e7e7;
}
.box {
    display: none;
}
.arxiv {
    border-bottom: 1px solid #e7e7e7;
}
.arxivAll {
    border-bottom: 1px solid #e7e7e7;
}
    
    
/* Контент. */
.Content_1 {
    position:absolute;  
    z-index:2;
    top: 110px;
    left: 130px;
}
.date {
    padding: 5px;
    margin-bottom: 1em;
    font-size: 0.9em;
    overflow: hidden;
}
h2 {
    margin: 10px 0 -30px -10px !important;
}
.Block-orange{
    border-bottom: 5px solid #da5e24;
    border-radius: 5px;
    width: 750px;
    padding: 0 10px 0 30px;
    font-size: 30px;
}
.Block-orange p, .Block-green p, .Block-blue p, .Block-yellow p, .Block-red p{
    font-size: 35px;
    margin: 10px 0 20px 0;
}
time {
    position:absolute;  
    z-index:2;
    top: 25px;
    font-size: 25px;
}
.Content_2 {
    position:absolute;  
    z-index:2;
    top: 470px;
    left: 130px;
}
.Block-green{
    border-bottom: 5px solid #3bac2c;
    border-radius: 5px;
    width: 750px;
    padding: 0 10px 0 30px;
    font-size: 30px;
}
.Content_3 {
    display: none; /* Блок отключен*/
    position:absolute;  
    z-index:2;
    top: 820px;
    left: 130px;
}
.Block-blue{
    border-bottom: 5px solid #297bc9;
    border-radius: 5px;
    width: 750px;
    padding: 0 10px 0 30px;
    font-size: 30px;
}
.Content_4 {
    display: none; /* Блок отключен*/
    position:absolute;  
    z-index:2;
    top: 1160px;
    left: 130px;
}
.Block-yellow{
    border-bottom: 5px solid #e2e61c;
    border-radius: 5px;
    width: 750px;
    padding: 0 10px 0 30px;
    font-size: 30px;
}
.Content_5 {
    display: none; /* Блок отключен*/
    position:absolute;  
    z-index:2;
    top: 1500px;
    left: 130px;
}
.Block-red{
    border-bottom: 5px solid #d61132;
    border-radius: 5px;
    width: 750px;
    padding: 0 10px 0 30px;
    font-size: 30px;
}
    

/* ДНО САЙТА. */
footer {
    clear: both;
    height: 4vh;
    padding: 18px 0 0 15px;
    background-color: #242425;
    color: white;
    font-size: 1.3em;
}
}